fastapi
uvicorn
sqlalchemy
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
pydantic
pydantic-settings
python-multipart
pandas
scikit-learn
joblib
httpx
websockets
google-generativeai
pyttsx3
chromadb
email-validator
